@import 'color';

@import 'base';

@import 'header';

@import 'main-view';

@import 'synopsis';

@import 'footer';

@import 'mini';


#index {
  table {
    background: @grey0;
    padding: 0.5em;
  }

  .caption {
    font-size: 18px;
    margin: 0 0 1em 0;
  }

  .src { font-weight: bold; }

  .alt {
    font-size: 10px;
    font-style: italic;
    padding-left: 1.5em;
  }

  td + td { padding-left: 2em; }
}

